*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
main{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 3px solid #D6D6D6;
    padding: 25px;
    background-color: #EBEBEB;
    
    min-width: 30%;
    max-width: 40%;
    height: auto;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.171);
}

main h1{
    color: rgb(31, 88, 86);
    font-size: 3vw;
    padding-bottom: 25px;
    text-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.171);
}

label{
    text-align: start;
    text-indent: 20px;
    font-size: 1.8vw;
    margin: 6px;
    font-weight: 600;
    text-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.171);
}

input{
    background-color: #EBEBEB;
    border: 2px solid #D6D6D6;
    height: 34px;
    border-radius: 6px;
    box-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.171);
}

input:focus{
    border: none;
    outline: none;
}

#valorAlcool{
    margin-bottom: 20px;
}

#valorGasolina{
    margin-bottom: 40px
}

#resultado{
    background-color: #B4CFEB;
    padding: 15px;
    color: #547BA7;
    border: 1px solid #547BA7;
    text-align: start;
    font-size: 16px;
    border-radius: 6px;
    text-indent: 10px;

    margin-bottom: 30px;
    box-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.171);
}

button{
    width: 50%;
    margin: auto;
    height: 35px;
    background-color: #547BA7;
    color: #EBEBEB;
    border: none;
    box-shadow: 5px 5px 7.5px rgba(0, 0, 0, 0.171);
}

